.Z-toast{
    position: fixed;
    height:50px;
    width:200px;
    top:20%;
    left:50%;
    margin-top: -25px;
    margin-left: -100px;
    background-color: #4e9dbb;
    z-index: 999999;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: white;
    opacity: 0;
    animation: toast 2s linear;
}
@keyframes toast{
    0%{
        top:15%;
    }
    10%{
        opacity: 1;
        top:20%;
    }
    80%{
        opacity: 1;
        top:20%;
    }
    100%{
        opacity: 0;
        top: 15%;
    }
}



/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
::-webkit-scrollbar 
{ 
    width: 6px; 
    height: 8px; 
    background-color: #F5F5F5; 
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track 
{ 
    border-radius: 6px;
    background-color: #F5F5F5; 
} 
   
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb 
{
    background-color: #555; 
} 


/* 引入字体图标 */
@font-face {
    font-family: 'iconfont';
    src: url('./icon/iconfont.eot');
    src: url('./icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./icon/iconfont.woff') format('woff'),
    url('./icon/iconfont.ttf') format('truetype'),
    url('./icon/iconfont.svg#iconfont') format('svg');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }



  /* chckbox */
.custom-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  display: none;
}

.custom-checkbox {
  width: auto;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  margin-right: 12px;
}

.custom-checkbox input[type="checkbox"] + i {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 1px;
  /* background: url("https://img-blog.csdn.net/20171212172149509?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvemhpc2hpX3R1ZG91bmk=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/SouthEast") */
  background: url("./../assets/noc.png")
    no-repeat;
}

.custom-checkbox input[type="checkbox"]:checked + i {
  /* background-image: url("https://img-blog.csdn.net/20171212172212797?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvemhpc2hpX3R1ZG91bmk=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/SouthEast"); */
  background-image: url("./../assets/ck.png");
}


/* 定义table样式 */

table {
         font-family: verdana,arial,sans-serif;
         font-size:15px;
         color:#333333;
         border-width: 1px;
         border-color:  #e0e0e0;
         border-collapse: collapse;
    }
    table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color:  #e0e0e0;
        background-color: #dedede;
    }
    table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #e0e0e0;
        background-color: #ffffff;
    }
